[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
flake8 = "*"
mypy = "*"

[packages]
lxml = "*"
parsel = "*"
w3lib = "*"
twisted = "*"
cryptography = "*"
pyopenssl = "*"
scrapy = "*"
docopt = "*"
sacremoses = "*"
requests-html = "*"
jupyter = "*"
numpy = "*"
matplotlib = "*"
scikit-learn = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
